
.vs/TravelExperts/v15/Server/sqlite3/storage.ide-shm
.vs/TravelExperts/v15/Server/sqlite3/storage.ide-shm
.vs/TravelExperts/v15/Server/sqlite3/storage.ide-wal
BusinessLayer/bin/Debug/BusinessLayer.dll
BusinessLayer/bin/Debug/BusinessLayer.pdb
BusinessLayer/obj/Debug/BusinessLayer.csproj.CoreCompileInputs.cache
BusinessLayer/obj/Debug/BusinessLayer.csproj.FileListAbsolute.txt
BusinessLayer/obj/Debug/BusinessLayer.csprojAssemblyReference.cache
BusinessLayer/obj/Debug/BusinessLayer.dll
DataLayer/bin/Debug/BusinessLayer.dll
DataLayer/bin/Debug/BusinessLayer.pdb
DataLayer/bin/Debug/DataLayer.dll
DataLayer/bin/Debug/DataLayer.pdb
DataLayer/obj/Debug/DataLayer.csproj.CoreCompileInputs.cache
DataLayer/obj/Debug/DataLayer.csproj.FileListAbsolute.txt
DataLayer/obj/Debug/DataLayer.csprojAssemblyReference.cache
DataLayer/obj/Debug/DataLayer.dll
DataLayer/obj/Debug/DataLayer.pdb
TravelExperts/bin/Debug/BusinessLayer.dll
TravelExperts/bin/Debug/BusinessLayer.pdb
*.dll
*.pdb
*.pdb
*.cache
*.txt
*.cache
*.cache
*.exe
*.pdb
*.dll
*.pdb
*.dll
*.cache
*.txt
*.cache
.vs/TravelExperts/v15/.suo
*.ide
*.ide-shm
*.ide-wal
*.ide
*.ide-shm
*.ide-wal
*.dll
*.cache
*.txt
*.cache
*.dll
*.pdb
*.cache
*.csproj
.vs/TravelExperts/v15/.suo
.vs/TravelExperts/v15/.suo
